/.gdb_history
/.test-result
/Makefile
/doc/html/rroonga/
/doc/reference/
/email.txt
/mkmf.log
/pkg/
/test-unit/
/test-unit-notify/
/ext/groonga/Makefile
/ext/groonga/mkmf.log
/test/tmp
/tmp
/vendor
*.so
/Gemfile.lock
/doc/po/*/*.edit.po
/doc/po/*/*.po.time_stamp
/doc/po/*/rroonga.po
/doc/po/rroonga.pot
/.yardoc/
/references/
/build/windows/.vagrant/
/build/windows/pkg/
