/.gdb_history
/.test-result
/Makefile
/doc/
/email.txt
/mkmf.log
/pkg/
/test-unit/
/test-unit-notify/
/ext/groonga/Makefile
/ext/groonga/mkmf.log
/test/tmp
/tmp
/vendor
*.so
/*.gemspec
/po/rroonga.pot
/.yardoc/
/references/
