sudo: required
notifications:
  webhooks:
    - https://webhook.commit-email.info/
# env:
#   - GROONGA_MASTER=yes
  matrix:
    - name: "Ruby 2.4"
      rvm: 2.4
    - name: "Ruby 2.5"
      rvm: 2.5
    - name: "Ruby 2.6"
      rvm: 2.6
    - name: "Auto Groonga build"
      rvm: 2.6
      env:
        - INSTALL_GROONGA=no
before_install:
  - |
    if [ "${INSTALL_GROONGA}" != "no" ]; then
      curl --silent --location https://github.com/groonga/groonga/raw/master/data/travis/setup.sh | sh
      if [ "${GROONGA_MASTER}" != "yes" ]; then
        sudo apt-get -qq -y install groonga-tokenizer-mecab;
      fi
    fi
  - gem update bundler
after_failure:
  - cat ext/groonga/mkmf.log
