notifications:
  recipients:
    - groonga-commit@lists.sourceforge.jp
rvm:
  - 1.9.3
  - 2.0.0
  - 2.1.0
env:
  - GROONGA_MASTER=yes
# matrix:
#   allow_failures:
#     - rvm: 2.1.0
before_install:
  - curl --silent --location https://github.com/groonga/groonga/raw/master/data/travis/setup.sh | sh
