<div class="header">
  <div class="title">
    <a href="/">
      <span class="title"><%= h(title) %></span>
      <span class="title-separator">-</span>
      <span class="title-project">ラングバ</span>
    </a>
  </div>
  <ul class="menu">
    <li id="menu-reference"><a href="/groonga/">リファレンスマニュアル</a></li>
    <li id="menu-tutorial"><a href="/groonga/TUTORIAL_ja_rdoc.html">チュートリアル</a></li>
    <li id="menu-install"><a href="/#install-ruby-groonga">インストール</a></li>
    <li id="menu-developer"><a href="/developer.html">開発者向け情報</a></li>
  </ul>
</div>

<div class="content">
