    <link rel="stylesheet" href="<%= top_path %>/ranguba.css" type="text/css" />
    <link rel="shortcut icon" href="<%= top_path %>/favicon.ico" />
    <link rel="icon" href="<%= top_path %>/favicon.png" />
    <title><%= h(title) %> - Ranguba</title>
