    <link rel="stylesheet" href="/ranguba.css" type="text/css" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="icon" href="/favicon.png" />
    <title><%= h(title) %> - ラングバ</title>
