    <link rel="stylesheet" href="<%= paths[:top] %>/ranguba.css" type="text/css" />
    <link rel="shortcut icon" href="<%= paths[:top] %>/favicon.ico" />
    <link rel="icon" href="<%= paths[:top] %>/favicon.png" />
    <title><%= h(title) %> - ラングバ</title>
