name: Test
on:
  - push
  - pull_request
jobs:
  test:
    name: ${{ matrix.ruby-version }} x ${{ matrix.runs-on }}
    runs-on: ${{ matrix.runs-on }}
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        runs-on:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        ruby-version:
          - "3.2"
          - "3.3"
          - "3.4"
    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
      - name: Install dependencies
        run: |
          gem install packnga rake yard
      - name: Build gem
        run: |
          rake build
      - name: Install as gem
        run: |
          gem install rubygems-requirements-system pkg/*.gem
      - name: Install additional Groonga pakcages to run tests
        if: |
          matrix.runs-on == 'ubuntu-latest'
        run: |
          sudo -H apt install -y \
            groonga \
            groonga-tokenizer-mecab
      - name: Test
        env:
          NO_MAKE: "yes"
        run: |
          ruby -run -e mkdir -- tmp
          ruby -run -e cp -- -p -r test tmp
          cd tmp
          ruby test/run-test.rb
